<!--
<nav class="navbar px-3" style="background-color:#fdecea;">
    <span class="navbar-brand mb-0 h1 text-danger">
        HNKL Costing Tool
    </span>
</nav>
-->

<nav class="navbar navbar-light bg-danger bg-opacity-10 px-3">
  <div class="d-flex align-items-center">
    <img
      src="/static/imgs/Henkel_Logo.png"
      alt="image not found!"
      height="35"
      class="me-2"
    />
    <span class="h5 mb-0 text-danger">HNKL Costing Tool</span>
  </div>
</nav>

<!--
<nav class="navbar px-3" style="background-color:#f8d7da;">
    <span class="navbar-brand mb-0 h1" style="color:#842029;">
        HNKL Costing Tool
    </span>
</nav>

-->
<!--
<nav class="navbar bg-light px-3 border-bottom border-danger">
    <span class="navbar-brand mb-0 h1 text-danger">
        HNKL Costing Tool
    </span>
</nav>

-->
