<div class="sidebar vh-100 bg-light">
  <ul class="nav flex-column p-0">
    <li class="nav-item">
      <a class="nav-link" href="/material-cost">Material Cost</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/machinery-cost">Machinery Cost</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/labour-cost">Labour Cost</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/calculation-sheet">Calculation Sheet</a>
    </li>
    <!--<li class="nav-item">
      <a class="nav-link" href="/quotations"> Quotations </a>
    </li>-->
  </ul>
</div>
